body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    color: white;
    background-color: #333;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #fff;
    border: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #e0e0e0;
}


#reset {
    display: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#backButton {
    display: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#status {
    font-size: 1.5em;
    font-weight: bold;
    color: #0078d7; 
    margin: 20px 0;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}



