/*note: i wrote all the comments myself to remember new css keywords*/

body {
    background: #f5f5f7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainbox {
    margin: auto;
    padding: 25px;
}

p {
    color: #333;
}

h1 {
  /*  color: #0078d7;*/
    color: black;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
   /* background-color: #10111a;
    border-radius: 5px;*/
}

h2 {
   /* color: #0078d7;*/
    color: white;
    background-color: rgb(52, 50, 50);
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

h3 {
    color: #0078d7;
    font-family: 'Source Code Pro', monospace;
}

a {
    color: black;
}

a:hover {
    color: #0078d7;
    text-decoration:none; /*to remove the underline when on hover*/
}

.list1 {
    list-style-type: none;
    padding: 0;
}

.list1 li {
    margin: 10px 0;
}

.navbar {
    background-color: rgb(0,0,0,0.8);
    position: fixed; /*so i can still see the bar when scrolling*/
    top: 0; /*to remove the space between the bar and the top*/
    left: 0;
    width: 100%;
    display: flex; /*to make the content next to each others not above*/ 
    justify-content: center;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.head1{
    margin-top: 80px;
}

.footer{
    background-color: #000000; 
    color: white;              
    text-align: center;          
    padding: 20px ;            
    width: 100%;                
    box-sizing: border-box;      
    margin-top: 20px;
}

.disclaimer{
    margin-left: 60px;
    margin-right: 60px;
    color: white;
    font-style: italic;
}
