.list1 li {
    color: #0078d7;
}

.htmlLogo{
    width: 30px;
}

.im1{
    width: 500px;
    float: left;
    border: 3px solid rgb(0, 0, 0);
    margin-right: 15px;
    margin-top: 20px;
}

.im2{
    width: 500px;
    float: right;
    border: 3px solid rgb(0, 0, 0);
    margin-left: 15px;
    margin-top: 20px;
}

.whocreated{
    margin-top: 325px;
}

.arpanet{
    margin-top: 200px;
}

.contenttab{
    margin-top: 60px;
}

.internetbutton{
    background-color: rgb(255, 255, 255);
}

.mainbox{
    width: 1200px;
}

p{
    margin-top: 20px;
}


