.list1 li {
    color: #0078d7;
}

.htmlLogo{
    width: 30px;
}

.im1{
    width: 500px;
    margin-left: 500px;
}

.p1{
    margin-right: 500px;
}

.contenttab{
    margin-top: 60px;
}

.internetbutton{
    background-color: rgb(255, 255, 255);
}



